/* @override http://shc.loc/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?m81jt9 */

/* This file will hold styles that are loaded using the same media query as the narrow grid. */

#logo {width: 300px;
}

/* User */

/* Search Form */
#block-search-form {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  width: 300px;
  z-index: 1;
}

nav.navigation ul.menu li.leaf {
  display: block;
	float: left;
}

#block-block-8 div.content div.grid-6 a img.menu {
	display: inline;
	width: 100px;
}


div.wistia-odd {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}