/* @override 
	http://hi-express.loc/sites/all/themes/prolifik/css/prolifik-header.css?m5ly5f
	http://shc.loc/sites/all/themes/prolifik/css/prolifik-header.css?m81jt9
*/

#section-header {
  overflow: hidden;
  position: relative;

}

#zone-header {


}

#zone-header-wrapper {
  overflow: hidden;
  position: relative;
	background-color: #15BAA1;
	background-image: url(../images/white-cross.png);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
}
